.list-item-color {
  margin: 0 auto;
  height: 100%;
  width: 80%;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.list-item-number {
  color: white;
  text-align: center;
}
